@model Book_Store.Modules.Author

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div>
    <table class="table table-boreder table-danger">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.id)</th>
                <th>@Html.DisplayNameFor(m => m.full_name)</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>@Html.DisplayFor(m => m.id)</td>
                <td>@Html.DisplayFor(m => m.full_name)</td>
            </tr>
        </tbody>

    </table>
</div>



<div>
    <span><a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-success" style="font-weight:bold">Edit</a> </span>
    <span> <a asp-action="Index" class="btn btn-success" style="font-weight:bold">Back to List</a> </span>

</div>



